<!DOCTYPE html>
<html>
<head>
    <title>Genie Dashboard</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div class="sidebar">
        <button class="menu-toggle">☰</button>
        <div class="new-chat">
            <button class="new-chat-btn">+ New Chat</button>
        </div>
        <div class="sections">
            <div class="section-title">Today</div>
            <ul>
                <!-- CHAT TITLES GO HERE -->
            </ul>
            <div class="section-title">Previous 7 Days</div>
            <ul>
                <!-- CHAT TITLES GO HERE -->
                <% @list_of_chat_ids.each do |chat_id| %>
                    <li>
                    <%= link_to("Chat id: #{chat_id}", get_chat_with_id_path(chat_id)) %>
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="settings">
            <button>Settings</button>
        </div>
    </div>

    <!-- Chat messages here -->
    <%= yield %>
</body>
</html>
