<% if @default_landing_page || @chat_history.blank? %>
  <div class="welcome-message text-center d-flex flex-column align-middle justify-content-center" id="welcome-message-div">
    <div class="genie-logo mb-3">
      <img src="<%= asset_path('genie_logo.svg') %>" alt="Genie Logo" class="resized-logo">
    </div>
    <p>Hi <%= @user_name %>, ask Genie to get the latest insights</p>
  </div>
<% else %>
  <div class="container chat-history d-flex justify-content-center" id="chat-history">
    <div class="messages-wrapper w-100" id="chat-history-child">
      <% @chat_history.each do |msg| %>
        <div class="row mb-3">
          <div class="d-flex <%= msg['role'] == 'user' ? 'justify-content-end' : 'justify-content-start' %> w-100">
            <div id="message-content-<%= msg['id'] %>" class="message-content <%= msg['role'] == 'user' ? 'user' : 'genie' %> rounded d-flex align-items-start">
              <%# display embed if content starts with http else normal text %>
              <% if msg["graph_id"].nil? %>
                <% unless msg['role'] == 'user' %>
                    <%= image_tag('genie_logo.svg', alt: 'Genie Logo', class: 'genie-icon') %>
                    <p class="mb-0 ml-2"><%= msg["content"] %></p>
                <% else %>
                  <p class="mb-0"><%= msg["content"] %></p>
                <% end %>
              <% else %>
                <iframe src="/g/<%= msg['graph_id']%>" scrolling="no" allowfullscreen></iframe>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


<% content_for :message_form do %>
    <%# NOTE: change local to false to support submitting form with AJAX to update page dynamically without reload %>
    <%= form_with url: handle_user_msg_path(@chat_id), method: :post, class: 'w-100 d-flex', id: 'message-form', local: false do |form| %>
        <div class="input-group flex-grow-1">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white border-0">
            <%= image_tag('genie_logo.svg', alt: 'Genie Logo', class: 'genie-icon') %>
          </span>
        </div>
        <%= text_field_tag(:message, nil, placeholder: "Ask me anything :)", class: 'form-control border-0', id: 'message-input') %>
        <div class="input-group-append">
          <%= button_tag(type: 'submit', class: 'explore-btn btn btn-primary', id: 'submit-btn') do %>
            <%= image_tag('paper-plane-top.svg', alt: 'Send', class: 'paper-plane-icon') %>
          <% end %>
        </div>
      </div>
      <div id="loading-animation" class="loading-animation d-none">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
      </div>
    <% end %>
<% end %>
